::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
a.active {
    background-color: #008a00;
}

/* add patients */

.btnClear > a {
    text-decoration: none;
    color: #fff;
}

.btnAddpatient {
    height: 4.8vh;
    width: 10vw;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #067306;
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSearch:hover,
.btnFilter:hover,
.btnAddpatient:hover,
.btnClear:hover {
    background-color: #008a00;
}

.addpatientBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 256px;
    width: 30vw;
}
