/* .admissionTable {
    height: 93%;
    padding-top: 5px;
    background-color: aquamarine;
} */

/* .tblAdmission,
.tblRow,
.tblHeader,
.tblData {
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.tblAdmission {
    width: 100%;
}
td {
    text-align: center;
}

.editIcon > i {
    color: rgb(43, 42, 42);
    font-weight: 100;
} */

/* header info */
/* .tblId {
    padding: 0 70px;
}
.tblName {
    padding: 0 183px;
}
.tblAge {
    padding: 0 40px;
}
.tblGender {
    padding: 0 40px;
}
.tblAddress {
    padding: 0 180px;
}

.tblInformation {
    padding: 0 30px;
}

tr:nth-child(odd) {
    background-color: #fff;
}
tr:nth-child(even) {
    background-color: #dbd9d9;
} */
