::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
a.active {
    background-color: #008a00;
}

/* .green_logo {
    height: 5vh;
    display: flex;
    font-size: 1.5rem;
    gap: 10px;
    color: #fff;
} */

/* .green_logo > .hospital_name {
    padding: 5px 0 0 0;
    width: 100%;
    height: 59px;
} */
/* .hospital_name {
    width: 275px;
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
} */

/* .date_time {
    height: 5vh;
    display: flex;
    font-size: 1.5rem;
    gap: 20px;
    color: #fff;
} */

/* #clock,
#date_today {
    margin: 0;
    padding-top: 5px;
} */

/* .sidebar {
    position: fixed;
    width: 275px;
    height: 100vh;
    left: 0px;
    top: 59px;

    background: #002101;
} */

/* .user-profile {
    padding: 40px 0;
    height: 28vh;
    display: flex;
    flex-direction: column;
} */

/* .user-pic {
    display: flex;
    justify-content: center;
} */

/* .user-pic img {
    border-radius: 50%;
    width: 7vw;
} */

/* .user-name {
    text-align: center;
    font-size: 2rem;
} */
/* .user-name a {
    padding: 0;
    font-size: 2.5rem;
} */

/* .user-pic img {
    height: 13vh;
} */

/* ul {
    list-style-type: none;
    padding: 0;
} */

/* li {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
} */

/* li:hover {
    background-color: #008a00;
}*/

/* a {
    width: 275px;
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
} */

/* .hospital_name:hover {
    color: #fff;
} */

/* i {
    padding: 0 15px;
    font-size: 1.5rem;
} */

/* .logout_button {
    padding: 10px;
    position: relative;
    top: 120px;
} */

/* .logout {
    position: relative;
    left: 55px;
    height: 60px;
    width: 130px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #008a00;
    color: #fff;
} */

/* .logout:hover {
    background-color: #0ac00a;
} */

/* sidebar */
/* .selection_menu {
    width: 275px;
    padding: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
} */

/* .selection_menu:hover {
    color: #fff;
} */

/* .user-name > a {
    width: 275px;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
} */
